@charset "UTF-8";
/*Обнуление*/
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  padding: 0;
  margin: 0;
  border: 0;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

body {
  font-family: 'Montserrat Alternates', sans-serif;
  color: #060511;
  font-size: 17px;
}

@media (max-width: 455px) {
  body {
    font-size: 15px;
  }
}

footer {
  font-size: 12px;
  background-color: #ebebeb;
  padding: 15px 10%;
  margin-top: 40px;
}

@media print {
  footer {
    display: none;
  }
}

main {
  padding: 2px 2%;
}

h1 {
  font-size: 30px;
  text-align: center;
  margin-top: 65px;
  margin-bottom: 25px;
  font-weight: 400;
  clear: both;
}

@media print {
  .text_links,
  .button__container {
    display: none;
  }
}

ul {
  list-style-type: circle;
  font-style: italic;
}

ul,
ol {
  margin-left: 20px;
}

li {
  padding-left: 5px;
}

.text_container p,
ul,
ol {
  padding-bottom: 10px;
}

.fon__slogan {
  background-image: url(img/black2.jpg);
  background-size: 350px;
  text-align: center;
}

@media print {
  .fon__slogan {
    display: none;
  }
}

.fon__img {
  margin: 22px auto;
  margin-bottom: 10px;
  max-height: 50px;
  padding: 0 5px;
}

.menu__logo {
  display: inline-block;
}

.menu {
  line-height: 45px;
  vertical-align: middle;
  position: relative;
}

@media print {
  .menu {
    display: none;
  }
}

.logo__img {
  height: 42px;
  position: absolute;
  top: 3px;
  left: 2%;
}

.menu__punkt {
  display: inline-block;
  vertical-align: middle;
  font-size: 17px;
  color: #0c0b0b;
  margin-right: 3.5%;
  font-weight: 500;
}

.menu__punkt:nth-child(5) {
  padding-right: 0;
}

.menu__punkt:hover {
  color: #00a2ff;
  text-decoration: underline;
}

@media (max-width: 655px) {
  .menu__punkt {
    margin-right: 5.5%;
  }
}

.mobile-ico {
  display: none;
  height: 35px;
}

@media (max-width: 655px) {
  .mobile-ico {
    display: inline-block;
    vertical-align: middle;
  }
}

@media (max-width: 655px) {
  .punkt-title {
    display: none;
  }
}

.menu__container {
  float: right;
  vertical-align: middle;
  white-space: nowrap;
  margin-right: 73px;
}

.text_container {
  width: 68%;
  margin: 0 auto;
}

@media (max-width: 775px) {
  .text_container {
    width: 85%;
  }
}

span.slogan {
  font-weight: 600;
  font-size: 22px;
  font-style: italic;
}

.button__container {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 10px;
}

.columns {
  margin: 0;
}

.category__filter {
  background-color: #f0f0f0;
  border-radius: 20px;
  padding: 30px 5%;
}

.work__block {
  background-color: #fafafa;
  border-radius: 20px;
  margin-bottom: 40px;
  padding: 5%;
}

h2 {
  font-weight: 500;
  padding-bottom: 7px;
  font-size: 20px;
}

h3 {
  font-size: 18px;
  font-weight: 500;
  padding-left: 17px;
  margin-bottom: 10px;
  margin-top: 30px;
}

.comments__button {
  text-align: center;
}

.comment__title {
  font-weight: 500;
}

.comment__status {
  padding-left: 5px;
  padding-right: 10px;
  font-style: italic;
}

.comment__body {
  background-color: #f0f0f0;
  border-radius: 20px;
  padding: 13px 18px;
  margin-bottom: 12px;
  border: 2px solid white;
}

.comment__mark {
  font-style: italic;
}

.comment__no {
  text-align: center;
}

.error {
  color: red;
  text-align: center;
}

.myComment__body {
  background-color: white;
  border-radius: 20px;
  padding: 13px 18px;
  margin-bottom: 12px;
  border: 2px solid #f0f0f0;
}

label {
  padding-right: 15px;
}

hr {
  border: 0;
  height: 1px;
  background: #8d8d8d;
  margin: 20px 0;
  margin-bottom: 35px;
}

.comments__button button,
.submit {
  padding: 8px 25px;
  background-color: transparent;
  border-color: #3298dc;
  color: #3298dc;
  border-radius: 20px;
}

.comments__button button:hover,
.submit:hover {
  background-color: #3298dc;
  color: #fff;
}

.comment__textarea {
  resize: none;
  width: 50%;
  margin: 10px 0;
}

@media (max-width: 775px) {
  .comment__textarea {
    width: 100%;
  }
}

.submit {
  padding: 6px 20px;
  border-color: #3daffc;
  color: #3daffc;
}

#pages {
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

#pages a {
  margin: 0 4px;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-decoration: none;
  border-radius: 12px;
  display: inline-block;
  width: 45px;
}

#pages a:hover {
  text-decoration: underline;
}

#pages span {
  margin: 0 4px;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 12px;
  display: inline-block;
  width: 45px;
}
/*# sourceMappingURL=style.css.map */