@import "null.scss";

// 1. Импортируем изначальные значения
//@import "bulma/sass/utilities/initial-variables";
//@import "bulma/sass/utilities/functions";

// 2. Устанавливаем свои значения
// Обновляем голубой цвет
$blue: #729ceb;
// Добавляем свой шрифт
$family-serif: "Montserrat Alternates",
sans-serif;

$primary: $blue;
// Задаем шрифт
$family-primary: $family-serif;

body {
    font-family: 'Montserrat Alternates', sans-serif;
    //overflow-x: hidden;
    color: rgb(6, 5, 17);
    font-size: 17px;

    @media (max-width: 455px) {
        font-size: 15px;
    }
}

@import "main.scss";
@import "works.scss";

.category__filter {
    background-color: rgb(240, 240, 240);
    border-radius: 20px;
    padding: 30px 5%;
}